.nft-name-cp{
    font-size: 1em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nft-image-cp{
    width: 15em;
    height: 15em;
    object-fit: cover;
}

.nft-price-cp{
    font-size: 0.9em
}

.nft-username-cp{
    font-size: 0.9em
}

.nft-id-cp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15.5em;
    margin: 2px;
    border: solid 1px black;
}

.nft-selection{
    display: flex;
    justify-content: row;
    flex-wrap: wrap;
}

.selection-options{
    width: 20vw;
}