@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.form-container {
  display: flex;
  flex-direction: column;
}

.create-top-container {
  padding-top: 50px;
  background: rgb(211, 247, 243);
  background: linear-gradient(
      180deg,
      rgba(255, 0, 0, 0) 0%,
      rgba(255, 255, 255, 1) 80%
    ),
    linear-gradient(
      82deg,
      rgba(211, 247, 243, 1) 0%,
      rgba(220, 226, 252, 1) 21%,
      rgba(197, 222, 248, 1) 46%,
      rgba(208, 233, 250, 1) 81%,
      rgba(229, 213, 247, 1) 100%
    );
}

.input-form-container {
  display: flex;
  justify-content: center;
}

.input-title {
  margin: 0;
  padding: 0.5em;
  height: 25%;
  width: 15%;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.description-input {
  height: 10vh;
}

.input-field {
  width: 85%;
}

.input-description-container {
  width: 100%;
  height: 15vh;
}

.input-title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.create-title-container {
  display: flex;
  justify-content: center;
}

.create-title {
  background: #a7cfdf;
  background: -webkit-linear-gradient(to right, #96C6D9 0%, #23538a 100%);
  background: -moz-linear-gradient(to right, #96C6D9 0%, #23538a 100%);
  background: linear-gradient(to right, #96C6D9 0%, #23538a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
}

.username-container,
.assetName-container,
.image-container,
.price-container,
.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.button {
  margin-top: 1em;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft-link {
  text-decoration: none;
}

.nft-name {
  font-size: 2em;
}

.nft-name,
.nft-image-container,
.nft-price,
.nft-username {
  display: flex;
  justify-content: center;
}

.nft-image {
  width: 400px;
  height: auto;
  display: flex;
  justify-content: center;
}

.nft-price,
.nft-username {
  font-size: 1em;
}

.modal {
  display: flex;
  justify-content: center;
}

.modal-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.create-displayed-image {
  object-fit: cover;
  height: 200px;
  width: 200px;
  margin: 30px;
}

.image-displayed {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.nft-creation-title {
  font-size: 1em;
  color: black;
}

.nft-creation-info {
  margin: 20px;
}

.just-text {
  font-weight: 400;
}

.button {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 20px;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button:hover,
.button:focus {
  background-color: #07c;
}

.button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button:active {
  background-color: #0064bd;
  box-shadow: none;
}
@media only screen and (max-width: 850px){
  .form-container{
    padding: px;
  }
  .username-container, .input-title,
   .assetName-container, .image-container, 
   .price-container, .description-container{
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    display: block;
  }
  .input-field{
    text-align: left;
  }
  .images-displayed{
    text-align: center;
  }
  .create-title{
    padding-top: 50px;
  }
  .nft-image{
    height: auto;
    width: 100%;
  }
}
