.form-container {
  display: flex;
  flex-direction: column;
}

.input-form-container {
  display: flex;
  justify-content: center;
}

.input-title {
  margin: 0;
  padding: 0.5em;
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.input-title-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.username-container,
.assetName-container,
.image-container,
.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0.5em;
}

.button{
    margin-top: 1em;
}