@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.main-container{

    height: auto;
    padding-bottom: 50px;
    padding: 30px;
    display: grid;
    grid-template-columns: .6fr 1fr;
    grid-template-rows: 1fr .2fr .5fr .2fr ;
    padding-top: 50px;
    background: 
        linear-gradient(180deg, rgba(255,0,0,0) 0%, rgba(255,255,255,1) 80%),
        linear-gradient(82deg, rgba(211,247,243,1) 0%, rgba(220,226,252,1) 21%, rgba(197,222,248,1) 46%, rgba(208,233,250,1) 81%, rgba(229,213,247,1) 100%);
}

.right-side{
    height: auto;
    padding-top: 4em;
}
.left-side{
    height: auto;
}
.display-similar{
    grid-column: 1/3;
    width: 100%;
}
#reviews{
    height: fit-content;
    grid-column: 1/3;
    margin: 0;
}
.price-panel{
    border: 1px solid rgb(205, 204, 204);

    border-radius: .5em;
    background-color: rgb(0, 174, 255,0.05);
}
.date-created{
    border: 1px solid rgb(205, 204, 204, .5);
    border-radius: .5em .5em 0 0;
    padding: 20px;
    text-align: left;
    padding-left: 10px;
    background-color: white;
}
.current-price{
    color: grey;
    padding: 1em 0 0 0;
    text-align: left;
    padding-left: 10px;
}
#nft-price{
    font-weight: bolder;
    font-size: xx-large;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding-left: 10px;
}
.details-description{
    border: 1px solid rgb(205, 204, 204);
    margin: 10px 0 0;
    height: 3em;
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
}
.details-description p{
    margin-top: 10px;
    margin-left: 1em;
}
.details-artist{
    border: 1px solid rgb(205, 204, 204);
    height: 3em;
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
}
.details-artist p{
    margin-top: 10px;
    margin-left: 1em;
}
.detail{
    margin: 0 60px;
    height: fit-content;
    text-align: left;
}
.detail p{
    margin: 1em; 
}
.artist-collection {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: left;
}
.artist-collection p{
    padding-left: 20px;
    padding-top: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    color: #2E8EEE;
}
.asset-name{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    background: #a7cfdf;
    background: -webkit-linear-gradient(to right, #a7cfdf 0%, #23538a 100%);
    background: -moz-linear-gradient(to right, #a7cfdf 0%, #23538a 100%);
    background: linear-gradient(to right, #a7cfdf 0%, #23538a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}

#dropdown-basic{
    background-color: white;
    color: black;
    width: 39em;
}
.artist-accordion-right{
    margin: 2em 0;
}
.artist-accordion{
   grid-column: 1/3;
}
.details-button{
    background-color: #2E8EEE;
    border-radius: 10px;
    height: 4em;
    color: white;
    border: none;
    width: 20em;
    margin: 2em 10px;
    font-weight: bolder;
}
.nft{
    width: 100%;
    height: auto;
    max-height: 60em;
    max-width: 60em;
    min-height: 450px;
    min-width: 450px;
}
.image-box{
    margin: 10px;
    max-height: 60em;
}
.image{
    border: 2px solid rgb(205, 204, 204);
    margin: 10px 20px;
    height: auto;
    max-height: 80em;
    max-width: 60em;
    border-radius: 10px;
    overflow: hidden;
}
.accordion-button{
    font-size: 20px; 
    font-weight: bolder;
    background-color: white !important;
    color: black !important;
}
#accordion-button-left{
    font-size: 20px; 
    background-color: white !important;
    color: black !important;
    margin-top: 2em;
    top: 10px;
}

.grid-button{
    background-color: #2E8EEE;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bolder;
}
.grid-label{
    padding: 1em;
}
span{
    color: black;
    font-weight: bolder;
}
.icon{
    color:  grey;
    text-align: right;
    margin: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#icon-piece{
    font-size: xx-large;
    text-decoration: none;
    color: black;
    text-align: right;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
#tooltip{
    position: absolute;
    top: 15%;
    background-color: #000;
    color: #fff;
}
.grid-info{
    padding: 16px;
}
#favorite{
    font-size: 25px;
    width: 2%;
    margin: 0;
    margin-left: 5px;
    margin-bottom: 5px;
    height: 30px;
}
#favorite:hover{
    color: red;
}

#favorite-active {
    color: red;
    font-size: 25px;
    width: 2%;
    margin: 0;
    margin-left: 5px;
    margin-bottom: 5px;
    height: 30px;
}

.listing-price-labels ,.accordion-body{
    background: #F2FBFF;
}

@media only screen and (max-width: 850px){
    .main-container{
        display: block; 
        padding: 0; 
    }
    .nft{
        object-fit: cover;
        min-width: 0;
    }
    #icon-piece{
        padding-right: 30px;
        font-size: 15px;
    }
    .asset-name{
        padding-top: 100px;
        font-size: xx-large;
    }
    .featured-text{
        text-align: center;
    }
    .price-panel, .current-price,#nft-price{
        text-align: center;
    }
    
}
