.main-container{
    /* border: 1px solid black; */
    height: 80em;
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.left-side{
    /* border: 1px solid black; */
    
}
.right-side{
    /* border: 1px solid black; */

}
.image{
    margin: 10px 60px;
    height: auto;
    max-height: 50em;
}
.details-description{
    border: 1px solid rgb(205, 204, 204);
    margin: 10px 60px 0 ;
    height: 3em;
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
}
.details-description p{
    margin-top: 10px;
    margin-left: 1em;
}
.details-artist{
    border: 1px solid rgb(205, 204, 204);
    margin: 0 60px;
    height: 3em;
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
}
.details-artist p{
    margin-top: 10px;
    margin-left: 1em; 
    
}
.detail{
    /* border: 1px solid black; */
    margin: 0 60px;
    height: fit-content;
    text-align: left;
}
.detail p{
    margin: 1em; 
}
.artist-name{
    /* border: 1px solid black; */
    text-align: left;
}
.artist-name p{
    margin: 1em;    
}
.artist-name h1{
    margin: 0 10px;    
}
#dropdown-basic{
    background-color: white;
    color: black;
    width: 39em;
}
.artist-accordion{
    margin: 2em 0;
}
.details-button{
    background-color: #2E8EEE;
    border-radius: 10px;
    height: 4em;
}
.nft{
    width: 100%;
    height: auto;
    max-height: 50em;
}
.accordion-button{
    font-size: 20px; 
    font-weight: bolder;
}