/* .topHeading {
    background: rgb(237,253,252);
background: linear-gradient(305deg, rgba(237,253,252,1) 6%, rgba(241,231,254,1) 26%, rgba(213,236,253,1) 53%, rgba(226,243,254,1) 72%, rgba(241,231,254,1) 100%);
} */

/* HOME PAGE HEADING */
.top-heading {
    font-size: 3rem;
    text-align: center;
    padding: 40px;
    /* margin: 20px 0 20px 0; */
}

/* CAROUSEL STYLES */
.carousel-container{
  padding: 40px 30px 50px 30px;
}
.carousel-card {
    height: 22rem;
    width: 22rem;
    border-radius: 12px;
    background-position: center;
    background-size: cover;
    color: white;
}

.carousel-card-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.react-multi-carousel-list button {
    background-color: #1868B7;
}

/* HOME PAGE TABLE STYLES */
.table-container {
    margin-left: 30px;
    margin-right: 30px;
}

.table-head{
    font-size: 1.5rem;
    font-style: bold;
    text-align: center;
    color: #05111E;
}

.table-number {
    margin-right: 10px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.table-image {
    border-radius: 12px;
    width: 5rem;
    height: 5rem;
}

.tableName .tablePrice {
    color: #05111E;
}

.table-name-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.table-name {
    margin-left: 20px;
}

.table-price-container {
    height: 6rem;
    display: flex;
    align-items: center;
}