
/* HOME PAGE HEADING */
.topHeading {
    font-size: 3rem;
    text-align: center;
    padding: 20px;
    margin: 20px 0 20px 0;
}


/* CAROUSEL STYLES */
.carouselContainer{
    /* background-color: red; */
    margin-bottom: 40px;
    padding: 8px;
}

.carouselCard {
    height: 18rem;
    width: 18rem;
    border-radius: 12px;
    background-position: center;
    background-size: cover;
    color: white;
}

.carouselCardText {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
}

/* HOME PAGE TABLE STYLES */
.table-container {
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
}

.table-head{
    font-size: 1.5rem;
    font-style: bold;
    text-align: center;
    color: #05111E;
}

.table-number {
    margin-right: 10px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.table-image {
    border-radius: 12px;
    width: 5rem;
    height: 5rem;
}

.tableName .tablePrice {
    color: #05111E;
}

.table-name-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.table-name {
    margin-left: 20px;
}

.table-price-container {
    height: 6rem;
    display: flex;
    align-items: center;
}