@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
.owner-panel {
  margin: 0 20px 0 10px;
}
.owner-details {
  font-family: "Oswald", sans-serif;
  color: black;
}
