@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
.owner-panel {
  margin: 0 20px 0 10px;
}
.owner-details {
  font-family: "Oswald", sans-serif;
  color: black;
}
<<<<<<< HEAD
=======
.owner-details{
    font-family: 'Oswald', sans-serif;
    color: black;
}
@media only screen and (max-width: 850px){
    input{
        text-align: center;
    }
    
}
>>>>>>> a272e0cab940a740fd30c29ec652031a7b3c9c06
