#review-container{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: .5fr 2fr .5fr;
    grid-template-rows: 1fr;
}
#review-text{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
}
#rating-text{
    width: 60%;
}
#review-button{
    text-align: right;

}
#button{
    height: 100%;
    border: none;
    background-color: #2E8EEE;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

#review-table{
    /* border: 1px solid red; */
    height: 25em;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content;
    overflow: hidden;
    overflow-y: scroll;
}
#review-table::-webkit-scrollbar {
    display: none;
}
#review{
    border: 2px solid black;
    height: 24em;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
}
#review-image{
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 10px;;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 50%;
}
#review-bubble-text{
    border-radius: 10px;
    border: 2px solid black;
    margin: 10px;
    height: 12em;
    text-align: center;
}

@media only screen and (min-width: 1800px){
    #review-table{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 1800px){
    #review-table{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    }
}
@media only screen and (max-width: 1550px){
    #review-table{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr  ;
    }
}
@media only screen and (max-width: 1300px){
    #review-table{
        grid-template-columns: 1fr 1fr 1fr 1fr   ;
    }
}
@media only screen and (max-width: 1000px){
    #review-table{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}
@media only screen and (max-width: 700px){
    #review-table{
        grid-template-columns: 1fr 1fr ;
    }
}
@media only screen and (max-width: 500px){
    #review-table{
        grid-template-columns: 1fr  ;
    }
}

