nav{
  border: 1px solid black;
  height: 4em;
}
.text1 {
  text-align: center;
  padding: 10px;
}
.carosel1{
  border: 1px solid black;
  height: 20em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.carosel-item{
  margin: 10px;
  border: 1px solid black;
}
.table{
  height: 50em;
  margin-top: 15px;
  border: 1px solid black;
}
.table-nav{
  border: 1px solid black;
  height: 5em;
  margin: 5px;
}
.content{
  border: 1px solid black;
  margin: 5px;
  height: 42em;
}